# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# =========================
# Virtual environments
# =========================
venv/
ENV/
env/
.venv/

# =========================
# Databases (NEVER COMMIT)
# =========================
*.sqlite3
db.sqlite3
backend/db.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/
